/* Segoe UI Font-face Kit */
@font-face {
  font-family: 'Segoe UI Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Regular'), url('fonts/segoe-ui.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Segoe UI Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Italic'), url('fonts/segoe-ui-italic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Segoe UI Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Bold'), url('fonts/segoe-ui-bold.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Segoe UI Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Bold Italic'), url('fonts/segoe-ui-bold-italic.woff') format('woff');
  }


body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #eae7e1;
  font-family: 'Segoe UI Regular', sans-serif;
}

.sidebar .hamburger {
  font-weight: 100;
  font-family: "Segoe UI Italic";
}

.sidebar {
  background: #e1ddd6;
  height: 100vh;
  overflow: auto;
}

.sidebar li a {
  color: #708293;
}

#main h4 {
  font-weight: bold;
}

.active {
  background: #dbd7cf;
}

.active a {
  color: #000;
  font-weight: bold;
}

#elipsis {
  font-weight: 100 !important;
  color: #797d7e;
  font-family: "Segoe UI Italic";
  position: relative;
  top: -3px;
}

#date {
  position: relative;
  top: -8px;
  font-size: 14px;
}

.line{
  width: 95%;
  height: 47px;
  border-bottom: 1px solid #e4e0da;
  }

  .normal {
    color: #708293;
  }